.service-card {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.service-card:hover .cardShape {
  top: 80px;
}

.service-card:hover .linkArrow div:last-child {
  padding-right: 320px;
}

@media screen and (min-width: 375px) and (max-width: 479px) {
  .service-card:hover .linkArrow div:last-child {
    padding-right: 100px;
  }
  .service-card {
    background-size: 100% 100%;
  }
}
