.industry-card {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.4s ease-in-out;
}

.industry-card h3,
.industry-card p {
  transition: transform 0.4s ease-in-out;
}

.industry-card:hover {
  animation: rotator 0.8s forwards;
  animation-iteration-count: 1;
}

.industry-card:hover h3,
.industry-card:hover p {
  animation: rotator 0.8s forwards;
  animation-iteration-count: 1;
}

@keyframes rotator {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
