@font-face {
  font-family: "Hurme Geometric Sans 3";
  src: url("./HurmeGeometricSans3-RegularObl.eot");
  src: url("./HurmeGeometricSans3-RegularObl.eot?#iefix")
      format("embedded-opentype"),
    url("./HurmeGeometricSans3-RegularObl.woff2") format("woff2"),
    url("./HurmeGeometricSans3-RegularObl.woff") format("woff"),
    url("./HurmeGeometricSans3-RegularObl.ttf") format("truetype"),
    url("./HurmeGeometricSans3-RegularObl.svg#HurmeGeometricSans3-RegularObl")
      format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Hurme Geometric Sans 3";
  src: url("./HurmeGeometricSans3-Regular.eot");
  src: url("./HurmeGeometricSans3-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./HurmeGeometricSans3-Regular.woff2") format("woff2"),
    url("./HurmeGeometricSans3-Regular.woff") format("woff"),
    url("./HurmeGeometricSans3-Regular.ttf") format("truetype"),
    url("./HurmeGeometricSans3-Regular.svg#HurmeGeometricSans3-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hurme Geometric Sans 3";
  src: url("./HurmeGeometricSans3-RegularObl_1.eot");
  src: url("./HurmeGeometricSans3-RegularObl_1.eot?#iefix")
      format("embedded-opentype"),
    url("./HurmeGeometricSans3-RegularObl_1.woff2") format("woff2"),
    url("./HurmeGeometricSans3-RegularObl_1.woff") format("woff"),
    url("./HurmeGeometricSans3-RegularObl_1.ttf") format("truetype"),
    url("./HurmeGeometricSans3-RegularObl_1.svg#HurmeGeometricSans3-RegularObl")
      format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Hurme Geometric Sans 3";
  src: url("./HurmeGeometricSans3-Regular_1.eot");
  src: url("./HurmeGeometricSans3-Regular_1.eot?#iefix")
      format("embedded-opentype"),
    url("./HurmeGeometricSans3-Regular_1.woff2") format("woff2"),
    url("./HurmeGeometricSans3-Regular_1.woff") format("woff"),
    url("./HurmeGeometricSans3-Regular_1.ttf") format("truetype"),
    url("./HurmeGeometricSans3-Regular_1.svg#HurmeGeometricSans3-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hurme Geometric Sans 3";
  src: url("./HurmeGeometricSans3-SemiBold.eot");
  src: url("./HurmeGeometricSans3-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("./HurmeGeometricSans3-SemiBold.woff2") format("woff2"),
    url("./HurmeGeometricSans3-SemiBold.woff") format("woff"),
    url("./HurmeGeometricSans3-SemiBold.ttf") format("truetype"),
    url("./HurmeGeometricSans3-SemiBold.svg#HurmeGeometricSans3-SemiBold")
      format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hurme Geometric Sans 3";
  src: url("./HurmeGeometricSans3-SemiBoldObl.eot");
  src: url("./HurmeGeometricSans3-SemiBoldObl.eot?#iefix")
      format("embedded-opentype"),
    url("./HurmeGeometricSans3-SemiBoldObl.woff2") format("woff2"),
    url("./HurmeGeometricSans3-SemiBoldObl.woff") format("woff"),
    url("./HurmeGeometricSans3-SemiBoldObl.ttf") format("truetype"),
    url("./HurmeGeometricSans3-SemiBoldObl.svg#HurmeGeometricSans3-SemiBoldObl")
      format("svg");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Hurme Geometric Sans 3";
  src: url("./HurmeGeometricSans3-SemiBold_1.eot");
  src: url("./HurmeGeometricSans3-SemiBold_1.eot?#iefix")
      format("embedded-opentype"),
    url("./HurmeGeometricSans3-SemiBold_1.woff2") format("woff2"),
    url("./HurmeGeometricSans3-SemiBold_1.woff") format("woff"),
    url("./HurmeGeometricSans3-SemiBold_1.ttf") format("truetype"),
    url("./HurmeGeometricSans3-SemiBold_1.svg#HurmeGeometricSans3-SemiBold")
      format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hurme Geometric Sans 3";
  src: url("./HurmeGeometricSans3-Thin.eot");
  src: url("./HurmeGeometricSans3-Thin.eot?#iefix") format("embedded-opentype"),
    url("./HurmeGeometricSans3-Thin.woff2") format("woff2"),
    url("./HurmeGeometricSans3-Thin.woff") format("woff"),
    url("./HurmeGeometricSans3-Thin.ttf") format("truetype"),
    url("./HurmeGeometricSans3-Thin.svg#HurmeGeometricSans3-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hurme Geometric Sans 3";
  src: url("./HurmeGeometricSans3-SemiBoldObl_1.eot");
  src: url("./HurmeGeometricSans3-SemiBoldObl_1.eot?#iefix")
      format("embedded-opentype"),
    url("./HurmeGeometricSans3-SemiBoldObl_1.woff2") format("woff2"),
    url("./HurmeGeometricSans3-SemiBoldObl_1.woff") format("woff"),
    url("./HurmeGeometricSans3-SemiBoldObl_1.ttf") format("truetype"),
    url("./HurmeGeometricSans3-SemiBoldObl_1.svg#HurmeGeometricSans3-SemiBoldObl")
      format("svg");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Hurme Geometric Sans 3";
  src: url("./HurmeGeometricSans3-Thin_1.eot");
  src: url("./HurmeGeometricSans3-Thin_1.eot?#iefix")
      format("embedded-opentype"),
    url("./HurmeGeometricSans3-Thin_1.woff2") format("woff2"),
    url("./HurmeGeometricSans3-Thin_1.woff") format("woff"),
    url("./HurmeGeometricSans3-Thin_1.ttf") format("truetype"),
    url("./HurmeGeometricSans3-Thin_1.svg#HurmeGeometricSans3-Thin")
      format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hurme Geometric Sans 3";
  src: url("./HurmeGeometricSans3-SemiBoldObl_2.eot");
  src: url("./HurmeGeometricSans3-SemiBoldObl_2.eot?#iefix")
      format("embedded-opentype"),
    url("./HurmeGeometricSans3-SemiBoldObl_2.woff2") format("woff2"),
    url("./HurmeGeometricSans3-SemiBoldObl_2.woff") format("woff"),
    url("./HurmeGeometricSans3-SemiBoldObl_2.ttf") format("truetype"),
    url("./HurmeGeometricSans3-SemiBoldObl_2.svg#HurmeGeometricSans3-SemiBoldObl")
      format("svg");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Hurme Geometric Sans 3";
  src: url("./HurmeGeometricSans3-RegularObl_2.eot");
  src: url("./HurmeGeometricSans3-RegularObl_2.eot?#iefix")
      format("embedded-opentype"),
    url("./HurmeGeometricSans3-RegularObl_2.woff2") format("woff2"),
    url("./HurmeGeometricSans3-RegularObl_2.woff") format("woff"),
    url("./HurmeGeometricSans3-RegularObl_2.ttf") format("truetype"),
    url("./HurmeGeometricSans3-RegularObl_2.svg#HurmeGeometricSans3-RegularObl")
      format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Hurme Geometric Sans 3";
  src: url("./HurmeGeometricSans3-SemiBold_2.eot");
  src: url("./HurmeGeometricSans3-SemiBold_2.eot?#iefix")
      format("embedded-opentype"),
    url("./HurmeGeometricSans3-SemiBold_2.woff2") format("woff2"),
    url("./HurmeGeometricSans3-SemiBold_2.woff") format("woff"),
    url("./HurmeGeometricSans3-SemiBold_2.ttf") format("truetype"),
    url("./HurmeGeometricSans3-SemiBold_2.svg#HurmeGeometricSans3-SemiBold")
      format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hurme Geometric Sans 3";
  src: url("./HurmeGeometricSans3-Thin_2.eot");
  src: url("./HurmeGeometricSans3-Thin_2.eot?#iefix")
      format("embedded-opentype"),
    url("./HurmeGeometricSans3-Thin_2.woff2") format("woff2"),
    url("./HurmeGeometricSans3-Thin_2.woff") format("woff"),
    url("./HurmeGeometricSans3-Thin_2.ttf") format("truetype"),
    url("./HurmeGeometricSans3-Thin_2.svg#HurmeGeometricSans3-Thin")
      format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hurme Geometric Sans 3";
  src: url("./HurmeGeometricSans3-ThinObl.eot");
  src: url("./HurmeGeometricSans3-ThinObl.eot?#iefix")
      format("embedded-opentype"),
    url("./HurmeGeometricSans3-ThinObl.woff2") format("woff2"),
    url("./HurmeGeometricSans3-ThinObl.woff") format("woff"),
    url("./HurmeGeometricSans3-ThinObl.ttf") format("truetype"),
    url("./HurmeGeometricSans3-ThinObl.svg#HurmeGeometricSans3-ThinObl")
      format("svg");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Hurme Geometric Sans 3";
  src: url("./HurmeGeometricSans3-Black.eot");
  src: url("./HurmeGeometricSans3-Black.eot?#iefix") format("embedded-opentype"),
    url("./HurmeGeometricSans3-Black.woff2") format("woff2"),
    url("./HurmeGeometricSans3-Black.woff") format("woff"),
    url("./HurmeGeometricSans3-Black.ttf") format("truetype"),
    url("./HurmeGeometricSans3-Black.svg#HurmeGeometricSans3-Black")
      format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hurme Geometric Sans 3";
  src: url("./HurmeGeometricSans3-ThinObl_1.eot");
  src: url("./HurmeGeometricSans3-ThinObl_1.eot?#iefix")
      format("embedded-opentype"),
    url("./HurmeGeometricSans3-ThinObl_1.woff2") format("woff2"),
    url("./HurmeGeometricSans3-ThinObl_1.woff") format("woff"),
    url("./HurmeGeometricSans3-ThinObl_1.ttf") format("truetype"),
    url("./HurmeGeometricSans3-ThinObl_1.svg#HurmeGeometricSans3-ThinObl")
      format("svg");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Hurme Geometric Sans 3";
  src: url("././HurmeGeometricSans3-ThinObl_2.eot");
  src: url("././HurmeGeometricSans3-ThinObl_2.eot?#iefix")
      format("embedded-opentype"),
    url("././HurmeGeometricSans3-ThinObl_2.woff2") format("woff2"),
    url("././HurmeGeometricSans3-ThinObl_2.woff") format("woff"),
    url("././HurmeGeometricSans3-ThinObl_2.ttf") format("truetype"),
    url("././HurmeGeometricSans3-ThinObl_2.svg#HurmeGeometricSans3-ThinObl")
      format("svg");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Hurme Geometric Sans 3";
  src: url("././HurmeGeometricSans3-Black_1.eot");
  src: url("././HurmeGeometricSans3-Black_1.eot?#iefix")
      format("embedded-opentype"),
    url("././HurmeGeometricSans3-Black_1.woff2") format("woff2"),
    url("././HurmeGeometricSans3-Black_1.woff") format("woff"),
    url("././HurmeGeometricSans3-Black_1.ttf") format("truetype"),
    url("././HurmeGeometricSans3-Black_1.svg#HurmeGeometricSans3-Black")
      format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hurme Geometric Sans 3";
  src: url("././HurmeGeometricSans3-Black_2.eot");
  src: url("././HurmeGeometricSans3-Black_2.eot?#iefix")
      format("embedded-opentype"),
    url("././HurmeGeometricSans3-Black_2.woff2") format("woff2"),
    url("././HurmeGeometricSans3-Black_2.woff") format("woff"),
    url("././HurmeGeometricSans3-Black_2.ttf") format("truetype"),
    url("././HurmeGeometricSans3-Black_2.svg#HurmeGeometricSans3-Black")
      format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hurme Geometric Sans 3";
  src: url("./././HurmeGeometricSans3-Bold.eot");
  src: url("./././HurmeGeometricSans3-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./././HurmeGeometricSans3-Bold.woff2") format("woff2"),
    url("./././HurmeGeometricSans3-Bold.woff") format("woff"),
    url("./././HurmeGeometricSans3-Bold.ttf") format("truetype"),
    url("./././HurmeGeometricSans3-Bold.svg#HurmeGeometricSans3-Bold")
      format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hurme Geometric Sans 3";
  src: url("./HurmeGeometricSans3-BoldObl.eot");
  src: url("./HurmeGeometricSans3-BoldObl.eot?#iefix")
      format("embedded-opentype"),
    url("./HurmeGeometricSans3-BoldObl.woff2") format("woff2"),
    url("./HurmeGeometricSans3-BoldObl.woff") format("woff"),
    url("./HurmeGeometricSans3-BoldObl.ttf") format("truetype"),
    url("./HurmeGeometricSans3-BoldObl.svg#HurmeGeometricSans3-BoldObl")
      format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Hurme Geometric Sans 3";
  src: url("./HurmeGeometricSans3-BoldObl_1.eot");
  src: url("./HurmeGeometricSans3-BoldObl_1.eot?#iefix")
      format("embedded-opentype"),
    url("./HurmeGeometricSans3-BoldObl_1.woff2") format("woff2"),
    url("./HurmeGeometricSans3-BoldObl_1.woff") format("woff"),
    url("./HurmeGeometricSans3-BoldObl_1.ttf") format("truetype"),
    url("./HurmeGeometricSans3-BoldObl_1.svg#HurmeGeometricSans3-BoldObl")
      format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Hurme Geometric Sans 3";
  src: url("./HurmeGeometricSans3-Bold_1.eot");
  src: url("./HurmeGeometricSans3-Bold_1.eot?#iefix")
      format("embedded-opentype"),
    url("./HurmeGeometricSans3-Bold_1.woff2") format("woff2"),
    url("./HurmeGeometricSans3-Bold_1.woff") format("woff"),
    url("./HurmeGeometricSans3-Bold_1.ttf") format("truetype"),
    url("./HurmeGeometricSans3-Bold_1.svg#HurmeGeometricSans3-Bold")
      format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hurme Geometric Sans 3";
  src: url("./HurmeGeometricSans3-BlackObl.eot");
  src: url("./HurmeGeometricSans3-BlackObl.eot?#iefix")
      format("embedded-opentype"),
    url("./HurmeGeometricSans3-BlackObl.woff2") format("woff2"),
    url("./HurmeGeometricSans3-BlackObl.woff") format("woff"),
    url("./HurmeGeometricSans3-BlackObl.ttf") format("truetype"),
    url("./HurmeGeometricSans3-BlackObl.svg#HurmeGeometricSans3-BlackObl")
      format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Hurme Geometric Sans 3";
  src: url("./HurmeGeometricSans3-BoldObl_2.eot");
  src: url("./HurmeGeometricSans3-BoldObl_2.eot?#iefix")
      format("embedded-opentype"),
    url("./HurmeGeometricSans3-BoldObl_2.woff2") format("woff2"),
    url("./HurmeGeometricSans3-BoldObl_2.woff") format("woff"),
    url("./HurmeGeometricSans3-BoldObl_2.ttf") format("truetype"),
    url("./HurmeGeometricSans3-BoldObl_2.svg#HurmeGeometricSans3-BoldObl")
      format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Hurme Geometric Sans 3";
  src: url("./HurmeGeometricSans3-BlackObl_1.eot");
  src: url("./HurmeGeometricSans3-BlackObl_1.eot?#iefix")
      format("embedded-opentype"),
    url("./HurmeGeometricSans3-BlackObl_1.woff2") format("woff2"),
    url("./HurmeGeometricSans3-BlackObl_1.woff") format("woff"),
    url("./HurmeGeometricSans3-BlackObl_1.ttf") format("truetype"),
    url("./HurmeGeometricSans3-BlackObl_1.svg#HurmeGeometricSans3-BlackObl")
      format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Hurme Geometric Sans 3";
  src: url("./HurmeGeometricSans3-Bold_2.eot");
  src: url("./HurmeGeometricSans3-Bold_2.eot?#iefix")
      format("embedded-opentype"),
    url("./HurmeGeometricSans3-Bold_2.woff2") format("woff2"),
    url("./HurmeGeometricSans3-Bold_2.woff") format("woff"),
    url("./HurmeGeometricSans3-Bold_2.ttf") format("truetype"),
    url("./HurmeGeometricSans3-Bold_2.svg#HurmeGeometricSans3-Bold")
      format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hurme Geometric Sans 3";
  src: url("./HurmeGeometricSans3-BlackObl_2.eot");
  src: url("./HurmeGeometricSans3-BlackObl_2.eot?#iefix")
      format("embedded-opentype"),
    url("./HurmeGeometricSans3-BlackObl_2.woff2") format("woff2"),
    url("./HurmeGeometricSans3-BlackObl_2.woff") format("woff"),
    url("./HurmeGeometricSans3-BlackObl_2.ttf") format("truetype"),
    url("./HurmeGeometricSans3-BlackObl_2.svg#HurmeGeometricSans3-BlackObl")
      format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Hurme Geometric Sans 3";
  src: url("./HurmeGeometricSans3-Hairline.eot");
  src: url("./HurmeGeometricSans3-Hairline.eot?#iefix")
      format("embedded-opentype"),
    url("./HurmeGeometricSans3-Hairline.woff2") format("woff2"),
    url("./HurmeGeometricSans3-Hairline.woff") format("woff"),
    url("./HurmeGeometricSans3-Hairline.ttf") format("truetype"),
    url("./HurmeGeometricSans3-Hairline.svg#HurmeGeometricSans3-Hairline")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
